<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Yandex Market Language Parser Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
